http://games.jackbox.tv/artifact/BlankyBlankGame/0123456789abcdef012345689abcdef0/
http://games.jackbox.tv/artifact/JackboxTalksGame/0123456789abcdef012345689abcdef0/
http://games.jackbox.tv/artifact/TeeKOGame/0123456789abcdef012345689abcdef0/
http://games.jackbox.tv/artifact/WorldChampionsGame/0123456789abcdef012345689abcdef0/
http://games.jackbox.tv/artifact/quiplash3Game/0123456789abcdef012345689abcdef0/
